body {
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
}

.header-logo {
    color: #f9faf8;
    padding-left: 72px;
    font-size: 24px;
}

.header-links {
    padding-right: 72px;
}

.main {
    display: flex;
    background-color: #1f2937;
    padding-bottom: 96px;
}

.awesome {
    padding-left: 72px;
    width: 50%;
}

.awesome-website {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.awesome-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border-radius: 15%;
    border: none;
}

.placeholder {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder-box {
    color: #e5e7eb;
    background-color: gray;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random {
    display: flex;
    flex-direction: column;
}

.random-info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 36px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info-box {
    max-width: 150px;
    height: 150px;
    border: solid #3882f6;
    border-radius: 10%;
}

.info {
    max-width: 170px;
}